body {
  box-sizing: border-box;
  background-color: rgb(27, 27, 27);
  color: white;
}
nav {
  text-align: center;
}

main {
  margin: 20px;
  padding: 10px;
}

.green_img {
  padding-top: 100px;
}

p {
  color: white;
}
