body {
  box-sizing: border-box;
  background-color: rgb(27, 27, 27);
  color: white;
}
.spacer {
  margin-top: 120px;
}
nav {
  text-align: center;
}

.green_img {
  padding-top: 100px;
}

p {
  color: white;
}

img {
  width: 100%;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Black.woff2") format("woff2");
}

@font-face {
  font-family: "Kanit";
  src: url("/fonts/Kanit-Medium.woff2") format("woff2");
}
/*
main {
  margin: 20px;
  padding: 10px;
}*/
