---
import Menu from "../components/Menu.astro";
import "../styles/global.css";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Menu />

    <section class="forsidebillede">
      <img src="src/img/orange.webp" />
    </section>

    <section class="box1">
      <h1>ABOUT US</h1>
      <p>
        KUNE Festival blends art, music, and nature, offering an immersive experience. The art promotes open discussions and a positive impact on our worldview. The music represents the young Nordic artistic community. KUNE values and celebrates the
        Otherness of the world, recognizing diversity and promoting inclusivity. The Otherness element invites us to appreciate unique perspectives and gain a more complex understanding of humanity.
      </p>
    </section>
    <section class="box2">
      <h1>THE LOCATION</h1>
      <p>
        The island was a 19th-century defense fort, now repurposed for cultural initiatives. It accommodates 2500 people, with 1000 in camping. Traveling to KUNE Festival by boat adds a unique element, creating an escape from everyday life. The
        festival's location on the island creates a close-knit community, promoting social interactions impossible in daily life. The island's transformation from aggression to community symbolizes hope. Hosting the festival on this historic site
        reminds us of the positive impact of art and culture, bringing people together and fostering connection.
      </p>
    </section>

    <section class="instagramtekst">INSTAGRAM COMMUNITY</section>

    <div class="grid_3">
      <section class="instabox_1">
        <blockquote
          class="instagram-media"
          data-instgrm-captioned
          data-instgrm-permalink="https://www.instagram.com/p/CpNox_Ategf/?utm_source=ig_embed&utm_campaign=loading"
          data-instgrm-version="14"
          style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:540px; min-width:326px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"
        >
          <div style="padding:16px;">
            <a href="https://www.instagram.com/p/CpNox_Ategf/?utm_source=ig_embed&utm_campaign=loading" style=" background:#FFFFFF; line-height:0; padding:0 0; text-align:center; text-decoration:none; width:100%;" target="_blank">
              <div style=" display: flex; flex-direction: row; align-items: center;">
                <div style="background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 40px; margin-right: 14px; width: 40px;"></div>
                <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center;">
                  <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 100px;"></div>
                  <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 60px;"></div>
                </div>
              </div><div style="padding: 19% 0;"></div>
              <div style="display:block; height:50px; margin:0 auto 12px; width:50px;">
                <svg width="50px" height="50px" viewBox="0 0 60 60" version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink"
                  ><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
                    ><g transform="translate(-511.000000, -20.000000)" fill="#000000"
                      ><g
                        ><path
                          d="M556.869,30.41 C554.814,30.41 553.148,32.076 553.148,34.131 C553.148,36.186 554.814,37.852 556.869,37.852 C558.924,37.852 560.59,36.186 560.59,34.131 C560.59,32.076 558.924,30.41 556.869,30.41 M541,60.657 C535.114,60.657 530.342,55.887 530.342,50 C530.342,44.114 535.114,39.342 541,39.342 C546.887,39.342 551.658,44.114 551.658,50 C551.658,55.887 546.887,60.657 541,60.657 M541,33.886 C532.1,33.886 524.886,41.1 524.886,50 C524.886,58.899 532.1,66.113 541,66.113 C549.9,66.113 557.115,58.899 557.115,50 C557.115,41.1 549.9,33.886 541,33.886 M565.378,62.101 C565.244,65.022 564.756,66.606 564.346,67.663 C563.803,69.06 563.154,70.057 562.106,71.106 C561.058,72.155 560.06,72.803 558.662,73.347 C557.607,73.757 556.021,74.244 553.102,74.378 C549.944,74.521 548.997,74.552 541,74.552 C533.003,74.552 532.056,74.521 528.898,74.378 C525.979,74.244 524.393,73.757 523.338,73.347 C521.94,72.803 520.942,72.155 519.894,71.106 C518.846,70.057 518.197,69.06 517.654,67.663 C517.244,66.606 516.755,65.022 516.623,62.101 C516.479,58.943 516.448,57.996 516.448,50 C516.448,42.003 516.479,41.056 516.623,37.899 C516.755,34.978 517.244,33.391 517.654,32.338 C518.197,30.938 518.846,29.942 519.894,28.894 C520.942,27.846 521.94,27.196 523.338,26.654 C524.393,26.244 525.979,25.756 528.898,25.623 C532.057,25.479 533.004,25.448 541,25.448 C548.997,25.448 549.943,25.479 553.102,25.623 C556.021,25.756 557.607,26.244 558.662,26.654 C560.06,27.196 561.058,27.846 562.106,28.894 C563.154,29.942 563.803,30.938 564.346,32.338 C564.756,33.391 565.244,34.978 565.378,37.899 C565.522,41.056 565.552,42.003 565.552,50 C565.552,57.996 565.522,58.943 565.378,62.101 M570.82,37.631 C570.674,34.438 570.167,32.258 569.425,30.349 C568.659,28.377 567.633,26.702 565.965,25.035 C564.297,23.368 562.623,22.342 560.652,21.575 C558.743,20.834 556.562,20.326 553.369,20.18 C550.169,20.033 549.148,20 541,20 C532.853,20 531.831,20.033 528.631,20.18 C525.438,20.326 523.257,20.834 521.349,21.575 C519.376,22.342 517.703,23.368 516.035,25.035 C514.368,26.702 513.342,28.377 512.574,30.349 C511.834,32.258 511.326,34.438 511.181,37.631 C511.035,40.831 511,41.851 511,50 C511,58.147 511.035,59.17 511.181,62.369 C511.326,65.562 511.834,67.743 512.574,69.651 C513.342,71.625 514.368,73.296 516.035,74.965 C517.703,76.634 519.376,77.658 521.349,78.425 C523.257,79.167 525.438,79.673 528.631,79.82 C531.831,79.965 532.853,80.001 541,80.001 C549.148,80.001 550.169,79.965 553.369,79.82 C556.562,79.673 558.743,79.167 560.652,78.425 C562.623,77.658 564.297,76.634 565.965,74.965 C567.633,73.296 568.659,71.625 569.425,69.651 C570.167,67.743 570.674,65.562 570.82,62.369 C570.966,59.17 571,58.147 571,50 C571,41.851 570.966,40.831 570.82,37.631"
                        ></path></g
                      ></g
                    ></g
                  ></svg
                >
              </div><div style="padding-top: 8px;">
                <div style=" color:#3897f0; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:550; line-height:18px;">View this post on Instagram</div>
              </div><div style="padding: 12.5% 0;"></div>
              <div style="display: flex; flex-direction: row; margin-bottom: 14px; align-items: center;">
                <div>
                  <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(0px) translateY(7px);"></div>
                  <div style="background-color: #F4F4F4; height: 12.5px; transform: rotate(-45deg) translateX(3px) translateY(1px); width: 12.5px; flex-grow: 0; margin-right: 14px; margin-left: 2px;"></div>
                  <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(9px) translateY(-18px);"></div>
                </div><div style="margin-left: 8px;">
                  <div style=" background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 20px; width: 20px;"></div>
                  <div style=" width: 0; height: 0; border-top: 2px solid transparent; border-left: 6px solid #f4f4f4; border-bottom: 2px solid transparent; transform: translateX(16px) translateY(-4px) rotate(30deg)"></div>
                </div><div style="margin-left: auto;">
                  <div style=" width: 0px; border-top: 8px solid #F4F4F4; border-right: 8px solid transparent; transform: translateY(16px);"></div>
                  <div style=" background-color: #F4F4F4; flex-grow: 0; height: 12px; width: 16px; transform: translateY(-4px);"></div>
                  <div style=" width: 0; height: 0; border-top: 8px solid #F4F4F4; border-left: 8px solid transparent; transform: translateY(-4px) translateX(8px);"></div>
                </div>
              </div>
              <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center; margin-bottom: 24px;">
                <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 224px;"></div>
                <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 144px;"></div>
              </div></a
            ><p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">
              <a
                href="https://www.instagram.com/p/CpNox_Ategf/?utm_source=ig_embed&utm_campaign=loading"
                style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;"
                target="_blank">A post shared by Ash (੭*ˊᵕˋ)੭ (@ashskead)</a
              >
            </p>
          </div>
        </blockquote>
        <script async src="//www.instagram.com/embed.js"></script>
      </section>

      <section class="instabox_2">
        <blockquote
          class="instagram-media"
          data-instgrm-captioned
          data-instgrm-permalink="https://www.instagram.com/reel/CjIR8IOoj9U/?utm_source=ig_embed&utm_campaign=loading"
          data-instgrm-version="14"
          style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:540px; min-width:326px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"
        >
          <div style="padding:16px;">
            <a href="https://www.instagram.com/reel/CjIR8IOoj9U/?utm_source=ig_embed&utm_campaign=loading" style=" background:#FFFFFF; line-height:0; padding:0 0; text-align:center; text-decoration:none; width:100%;" target="_blank">
              <div style=" display: flex; flex-direction: row; align-items: center;">
                <div style="background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 40px; margin-right: 14px; width: 40px;"></div>
                <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center;">
                  <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 100px;"></div>
                  <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 60px;"></div>
                </div>
              </div><div style="padding: 19% 0;"></div>
              <div style="display:block; height:50px; margin:0 auto 12px; width:50px;">
                <svg width="50px" height="50px" viewBox="0 0 60 60" version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink"
                  ><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
                    ><g transform="translate(-511.000000, -20.000000)" fill="#000000"
                      ><g
                        ><path
                          d="M556.869,30.41 C554.814,30.41 553.148,32.076 553.148,34.131 C553.148,36.186 554.814,37.852 556.869,37.852 C558.924,37.852 560.59,36.186 560.59,34.131 C560.59,32.076 558.924,30.41 556.869,30.41 M541,60.657 C535.114,60.657 530.342,55.887 530.342,50 C530.342,44.114 535.114,39.342 541,39.342 C546.887,39.342 551.658,44.114 551.658,50 C551.658,55.887 546.887,60.657 541,60.657 M541,33.886 C532.1,33.886 524.886,41.1 524.886,50 C524.886,58.899 532.1,66.113 541,66.113 C549.9,66.113 557.115,58.899 557.115,50 C557.115,41.1 549.9,33.886 541,33.886 M565.378,62.101 C565.244,65.022 564.756,66.606 564.346,67.663 C563.803,69.06 563.154,70.057 562.106,71.106 C561.058,72.155 560.06,72.803 558.662,73.347 C557.607,73.757 556.021,74.244 553.102,74.378 C549.944,74.521 548.997,74.552 541,74.552 C533.003,74.552 532.056,74.521 528.898,74.378 C525.979,74.244 524.393,73.757 523.338,73.347 C521.94,72.803 520.942,72.155 519.894,71.106 C518.846,70.057 518.197,69.06 517.654,67.663 C517.244,66.606 516.755,65.022 516.623,62.101 C516.479,58.943 516.448,57.996 516.448,50 C516.448,42.003 516.479,41.056 516.623,37.899 C516.755,34.978 517.244,33.391 517.654,32.338 C518.197,30.938 518.846,29.942 519.894,28.894 C520.942,27.846 521.94,27.196 523.338,26.654 C524.393,26.244 525.979,25.756 528.898,25.623 C532.057,25.479 533.004,25.448 541,25.448 C548.997,25.448 549.943,25.479 553.102,25.623 C556.021,25.756 557.607,26.244 558.662,26.654 C560.06,27.196 561.058,27.846 562.106,28.894 C563.154,29.942 563.803,30.938 564.346,32.338 C564.756,33.391 565.244,34.978 565.378,37.899 C565.522,41.056 565.552,42.003 565.552,50 C565.552,57.996 565.522,58.943 565.378,62.101 M570.82,37.631 C570.674,34.438 570.167,32.258 569.425,30.349 C568.659,28.377 567.633,26.702 565.965,25.035 C564.297,23.368 562.623,22.342 560.652,21.575 C558.743,20.834 556.562,20.326 553.369,20.18 C550.169,20.033 549.148,20 541,20 C532.853,20 531.831,20.033 528.631,20.18 C525.438,20.326 523.257,20.834 521.349,21.575 C519.376,22.342 517.703,23.368 516.035,25.035 C514.368,26.702 513.342,28.377 512.574,30.349 C511.834,32.258 511.326,34.438 511.181,37.631 C511.035,40.831 511,41.851 511,50 C511,58.147 511.035,59.17 511.181,62.369 C511.326,65.562 511.834,67.743 512.574,69.651 C513.342,71.625 514.368,73.296 516.035,74.965 C517.703,76.634 519.376,77.658 521.349,78.425 C523.257,79.167 525.438,79.673 528.631,79.82 C531.831,79.965 532.853,80.001 541,80.001 C549.148,80.001 550.169,79.965 553.369,79.82 C556.562,79.673 558.743,79.167 560.652,78.425 C562.623,77.658 564.297,76.634 565.965,74.965 C567.633,73.296 568.659,71.625 569.425,69.651 C570.167,67.743 570.674,65.562 570.82,62.369 C570.966,59.17 571,58.147 571,50 C571,41.851 570.966,40.831 570.82,37.631"
                        ></path></g
                      ></g
                    ></g
                  ></svg
                >
              </div><div style="padding-top: 8px;">
                <div style=" color:#3897f0; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:550; line-height:18px;">View this post on Instagram</div>
              </div><div style="padding: 12.5% 0;"></div>
              <div style="display: flex; flex-direction: row; margin-bottom: 14px; align-items: center;">
                <div>
                  <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(0px) translateY(7px);"></div>
                  <div style="background-color: #F4F4F4; height: 12.5px; transform: rotate(-45deg) translateX(3px) translateY(1px); width: 12.5px; flex-grow: 0; margin-right: 14px; margin-left: 2px;"></div>
                  <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(9px) translateY(-18px);"></div>
                </div><div style="margin-left: 8px;">
                  <div style=" background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 20px; width: 20px;"></div>
                  <div style=" width: 0; height: 0; border-top: 2px solid transparent; border-left: 6px solid #f4f4f4; border-bottom: 2px solid transparent; transform: translateX(16px) translateY(-4px) rotate(30deg)"></div>
                </div><div style="margin-left: auto;">
                  <div style=" width: 0px; border-top: 8px solid #F4F4F4; border-right: 8px solid transparent; transform: translateY(16px);"></div>
                  <div style=" background-color: #F4F4F4; flex-grow: 0; height: 12px; width: 16px; transform: translateY(-4px);"></div>
                  <div style=" width: 0; height: 0; border-top: 8px solid #F4F4F4; border-left: 8px solid transparent; transform: translateY(-4px) translateX(8px);"></div>
                </div>
              </div>
              <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center; margin-bottom: 24px;">
                <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 224px;"></div>
                <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 144px;"></div>
              </div></a
            ><p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">
              <a
                href="https://www.instagram.com/reel/CjIR8IOoj9U/?utm_source=ig_embed&utm_campaign=loading"
                style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;"
                target="_blank">A post shared by HÉITOR THE CREATOR (@heitor.30fps)</a
              >
            </p>
          </div>
        </blockquote>
        <script async src="//www.instagram.com/embed.js"></script>
      </section>

      <section class="instabox_3">
        <blockquote
          class="instagram-media"
          data-instgrm-captioned
          data-instgrm-permalink="https://www.instagram.com/p/Chg4B8hs5dh/?utm_source=ig_embed&utm_campaign=loading"
          data-instgrm-version="14"
          style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:540px; min-width:326px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"
        >
          <div style="padding:16px;">
            <a href="https://www.instagram.com/p/Chg4B8hs5dh/?utm_source=ig_embed&utm_campaign=loading" style=" background:#FFFFFF; line-height:0; padding:0 0; text-align:center; text-decoration:none; width:100%;" target="_blank">
              <div style=" display: flex; flex-direction: row; align-items: center;">
                <div style="background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 40px; margin-right: 14px; width: 40px;"></div>
                <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center;">
                  <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 100px;"></div>
                  <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 60px;"></div>
                </div>
              </div><div style="padding: 19% 0;"></div>
              <div style="display:block; height:50px; margin:0 auto 12px; width:50px;">
                <svg width="50px" height="50px" viewBox="0 0 60 60" version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink"
                  ><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
                    ><g transform="translate(-511.000000, -20.000000)" fill="#000000"
                      ><g
                        ><path
                          d="M556.869,30.41 C554.814,30.41 553.148,32.076 553.148,34.131 C553.148,36.186 554.814,37.852 556.869,37.852 C558.924,37.852 560.59,36.186 560.59,34.131 C560.59,32.076 558.924,30.41 556.869,30.41 M541,60.657 C535.114,60.657 530.342,55.887 530.342,50 C530.342,44.114 535.114,39.342 541,39.342 C546.887,39.342 551.658,44.114 551.658,50 C551.658,55.887 546.887,60.657 541,60.657 M541,33.886 C532.1,33.886 524.886,41.1 524.886,50 C524.886,58.899 532.1,66.113 541,66.113 C549.9,66.113 557.115,58.899 557.115,50 C557.115,41.1 549.9,33.886 541,33.886 M565.378,62.101 C565.244,65.022 564.756,66.606 564.346,67.663 C563.803,69.06 563.154,70.057 562.106,71.106 C561.058,72.155 560.06,72.803 558.662,73.347 C557.607,73.757 556.021,74.244 553.102,74.378 C549.944,74.521 548.997,74.552 541,74.552 C533.003,74.552 532.056,74.521 528.898,74.378 C525.979,74.244 524.393,73.757 523.338,73.347 C521.94,72.803 520.942,72.155 519.894,71.106 C518.846,70.057 518.197,69.06 517.654,67.663 C517.244,66.606 516.755,65.022 516.623,62.101 C516.479,58.943 516.448,57.996 516.448,50 C516.448,42.003 516.479,41.056 516.623,37.899 C516.755,34.978 517.244,33.391 517.654,32.338 C518.197,30.938 518.846,29.942 519.894,28.894 C520.942,27.846 521.94,27.196 523.338,26.654 C524.393,26.244 525.979,25.756 528.898,25.623 C532.057,25.479 533.004,25.448 541,25.448 C548.997,25.448 549.943,25.479 553.102,25.623 C556.021,25.756 557.607,26.244 558.662,26.654 C560.06,27.196 561.058,27.846 562.106,28.894 C563.154,29.942 563.803,30.938 564.346,32.338 C564.756,33.391 565.244,34.978 565.378,37.899 C565.522,41.056 565.552,42.003 565.552,50 C565.552,57.996 565.522,58.943 565.378,62.101 M570.82,37.631 C570.674,34.438 570.167,32.258 569.425,30.349 C568.659,28.377 567.633,26.702 565.965,25.035 C564.297,23.368 562.623,22.342 560.652,21.575 C558.743,20.834 556.562,20.326 553.369,20.18 C550.169,20.033 549.148,20 541,20 C532.853,20 531.831,20.033 528.631,20.18 C525.438,20.326 523.257,20.834 521.349,21.575 C519.376,22.342 517.703,23.368 516.035,25.035 C514.368,26.702 513.342,28.377 512.574,30.349 C511.834,32.258 511.326,34.438 511.181,37.631 C511.035,40.831 511,41.851 511,50 C511,58.147 511.035,59.17 511.181,62.369 C511.326,65.562 511.834,67.743 512.574,69.651 C513.342,71.625 514.368,73.296 516.035,74.965 C517.703,76.634 519.376,77.658 521.349,78.425 C523.257,79.167 525.438,79.673 528.631,79.82 C531.831,79.965 532.853,80.001 541,80.001 C549.148,80.001 550.169,79.965 553.369,79.82 C556.562,79.673 558.743,79.167 560.652,78.425 C562.623,77.658 564.297,76.634 565.965,74.965 C567.633,73.296 568.659,71.625 569.425,69.651 C570.167,67.743 570.674,65.562 570.82,62.369 C570.966,59.17 571,58.147 571,50 C571,41.851 570.966,40.831 570.82,37.631"
                        ></path></g
                      ></g
                    ></g
                  ></svg
                >
              </div><div style="padding-top: 8px;">
                <div style=" color:#3897f0; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:550; line-height:18px;">View this post on Instagram</div>
              </div><div style="padding: 12.5% 0;"></div>
              <div style="display: flex; flex-direction: row; margin-bottom: 14px; align-items: center;">
                <div>
                  <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(0px) translateY(7px);"></div>
                  <div style="background-color: #F4F4F4; height: 12.5px; transform: rotate(-45deg) translateX(3px) translateY(1px); width: 12.5px; flex-grow: 0; margin-right: 14px; margin-left: 2px;"></div>
                  <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(9px) translateY(-18px);"></div>
                </div><div style="margin-left: 8px;">
                  <div style=" background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 20px; width: 20px;"></div>
                  <div style=" width: 0; height: 0; border-top: 2px solid transparent; border-left: 6px solid #f4f4f4; border-bottom: 2px solid transparent; transform: translateX(16px) translateY(-4px) rotate(30deg)"></div>
                </div><div style="margin-left: auto;">
                  <div style=" width: 0px; border-top: 8px solid #F4F4F4; border-right: 8px solid transparent; transform: translateY(16px);"></div>
                  <div style=" background-color: #F4F4F4; flex-grow: 0; height: 12px; width: 16px; transform: translateY(-4px);"></div>
                  <div style=" width: 0; height: 0; border-top: 8px solid #F4F4F4; border-left: 8px solid transparent; transform: translateY(-4px) translateX(8px);"></div>
                </div>
              </div>
              <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center; margin-bottom: 24px;">
                <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 224px;"></div>
                <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 144px;"></div>
              </div></a
            ><p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">
              <a
                href="https://www.instagram.com/p/Chg4B8hs5dh/?utm_source=ig_embed&utm_campaign=loading"
                style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;"
                target="_blank">A post shared by VibroAcoustics (@vibroacoustics)</a
              >
            </p>
          </div>
        </blockquote>
        <script async src="//www.instagram.com/embed.js"></script>
      </section>

      <section class="instabox_4">
        <img src="src/img/instapics/4.png" />
      </section>

      <section class="instabox_5">
        <img src="src/img/instapics/3.png" />
      </section>

      <section class="instabox_1">
        <img src="src/img/instapics/2.png" />
      </section>
    </div>

    <br />
    <br />
    <br />

    <img id="voluneteer" src="src/img/volunteer.gif" alt="" />

    <div id="scroll-container">
      <div id="scroll-text">
        <p>• Sign up to volunteer now • Sign up to volunteer now • Sign up to volunteer now •</p>
      </div>
    </div>

    <div class="info">
      <div class="tekst">
        <h1>Volunteer</h1>
        <p>
          Volunteers are at the heart of KUNE Festival and essential to our community. They are the ones who help us realize our vision, and we are continually amazed at the skills, dedication, and enthusiasm they bring to the festival. Volunteering
          should be a two-way process, and we always aim to create a space where our volunteers can grow, learn and connect with others.
        </p>
      </div>
      <div>
        <img src="src/img/kune_voluneteer.jpg" alt="" />
      </div>
    </div>

    <div class="info_2">
      <div class="we_work">
        <h1>How we work</h1>
        <p>
          At KUNE, we strive to create an environment where volunteers feel empowered and their contribution is recognized and appreciated. We offer opportunities for personal and professional development, such as training and workshops, and a chance
          to meet new people, work with artists, and uniquely experience the festival. Volunteering with KUNE Festival is a way to give back to the community while co-creating and shaping the festival experience with us. ‍ Our volunteers are a
          diverse group of individuals who come from different backgrounds, cultures, and age groups. Yet, they share a common passion for music, art, and creating a meaningful experience for others. Everyone has something valuable to bring to the
          table, and we are committed to ensuring that all our volunteers feel welcome, respected, and valued. The community of volunteers is supportive, and we are always excited to see how everyone comes together to bring the festival to life.
          Volunteering at KUNE Festival is an excellent opportunity to be part of a vibrant, creative, and positive community.
        </p>
      </div>
      <div class="advantages">
        <h1>Advantages</h1>
        <p>
          Joining the KUNE Festival volunteer team is an incredible opportunity to be part of a unique and creative community that builds something together. As a volunteer, you will receive a free ticket to the festival, food and drink tickets for
          your shifts, and the chance to attend dedicated volunteer events before and after the festival. Before the festival, we'll host a free volunteer weekend on the island where you can participate in workshops, explore the island's beauty, and
          connect with other volunteers and the organisers behind the festival. After the festival, we have a decompression event where we gather to share memories and give feedback. ‍ By volunteering with KUNE Festival, you will have a chance to
          develop new skills, gain valuable work experience, and network with professionals in the music and arts industry. You'll have a unique opportunity to work with artists, explore different styles of music and art, and shape the festival
          experience for guests. But more than that, you'll be part of a community of diverse, passionate, and like-minded individuals who are committed to creating something meaningful and exciting. So come join us and be part of an unforgettable
          experience!
        </p>
      </div>
    </div>

    <div class="info_03">
      <div class="tekst">
        <h1>Production</h1>
        <h2>Dates: 14 - 19 July / 24 - 26 July</h2>
        <p>
          Looking for an exciting opportunity to get involved in a hands-on project and meet new people? We're calling all handy and enthusiastic individuals to join us for an unforgettable festival-building experience on the stunning Ungdomsøen
          island! Regardless of your level of experience, we welcome you to be a part of our production and take-down team. Each day will be filled with hard work, collaborative effort, and breathtaking island scenery.
        </p>
        <div>
          <p class="knap">Learn more</p>
        </div>
      </div>
      <div>
        <img src="src/img/volunteer_01.jpg" alt="" />
      </div>
    </div>

    <div class="info_03_1">
      <div class="tekst">
        <h1>Main Volunteer Crews</h1>
        <h2>Dates: 19 - 23 July</h2>
        <p>
          Would you like to actively contribute to creating the best festival guest experience on an island? Become a volunteer and join the community of enthusiastic people like you co-creating unforgettable Scandinavian music and art festival
          experience on an island.
        </p>
        <div>
          <p class="knap">Learn more</p>
        </div>
      </div>
      <div>
        <img src="src/img/volunteer_02.jpg" alt="" />
      </div>
    </div>

    <div class="info_03">
      <div class="tekst">
        <h1>Safer Space / First Aid</h1>
        <h2>Dates: 19 - 23 July</h2>
        <p>
          As a volunteer for Safer Space or First Aid, you will be one of our ambassadors for promoting a positive and safe festival culture. You will play a key role in creating a space where everyone feels welcome and respected. Safer Space and
          First Aid teams aim to make sure that every guest feels valued, seen, and cared for during the event. If you’re considering applying for these roles, keep in mind that they come with a certain level of responsibility and required skills.
        </p>
        <div>
          <p class="knap">Learn more</p>
        </div>
      </div>
      <div>
        <img src="src/img/volunteer_03.jpeg" alt="" />
      </div>
    </div>

    <Footer />
  </body>
  <style>
    .grid_3 {
      display: grid;
      justify-content: center;
      grid-template-columns: 1fr 1fr 1fr;
    }
    h2 {
      color: white;
      font-size: 1rem;
      font-family: "Montserrat";
    }

    h1 {
      color: orange;
      font-size: 3rem;
      font-family: "Montserrat";
    }

    .instagramtekst {
      text-align: center;
      font-size: 4rem;

      color: rgb(27, 27, 27);
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: orange;
      font-family: "Montserrat";
      padding-bottom: 3%;
    }
    p {
      font-family: "Kanit";
      font-size: larger;
    }
    .box1 {
      margin-top: 5%;
      padding: 5%;
      text-align: left;
      margin-left: 20%;
      margin-right: 20%;
      border-radius: 60%;
    }

    .box2 {
      margin-top: -5%;
      padding: 5%;
      text-align: left;
      margin-left: 20%;
      margin-right: 20%;
      border-radius: 60%;
    }

    img {
      width: 90%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }

    #scroll-container {
      border: 1rem white;
    }

    #scroll-text p {
      color: white;
      font-size: 2rem;
    }

    #scroll-text {
      text-align: right;
      color: black;
      font-family: "Montserrat";

      /* animation properties */
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);

      -moz-animation: my-animation 25s linear infinite;
      -webkit-animation: my-animation 25s linear infinite;
      animation: my-animation 25s linear infinite;
    }

    /* for Firefox */
    @-moz-keyframes my-animation {
      from {
        -moz-transform: translateX(100%);
      }
      to {
        -moz-transform: translateX(-100%);
      }
    }

    @keyframes my-animation {
      from {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
      }
      to {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
      }
    }

    .info {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 10px;
      margin: 10px;
    }

    .info img {
      display: block;
      width: 80%;
      border-radius: 5px;
      margin-top: 20px;
      padding-top: 20px;
    }

    .tekst {
      margin-bottom: 30px;
      padding-bottom: 30px;
      margin-left: 40px;
      margin-right: 40px;
      padding-left: 40px;
      padding-right: 40px;
    }

    .info_2 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 60px;
      margin: 60px;
      gap: 70px;
      background-color: #292929;
    }

    .info_03 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 10px;
      margin: 10px;
    }

    h1 {
      font-size: 3rem;
    }

    .info_03_1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 10px;
      margin: 10px;
      background-color: #292929;
    }
    .knap {
      padding: 18px 32px;
      background-color: orange;
      color: black;
      display: inline-block;
      margin-top: 20px;
      border-radius: 50px;
      font-family: "Montserrat";
      font-size: large;
    }

    @media (max-width: 700px) {
      #grid_3 {
        display: grid;
        grid-template-columns: 1fr;
      }
    }
  </style>
</html>
