---
import Menu from "../components/Menu.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <<<<<<< HEAD
  <header>
    <nav>
      <Header />
    </nav>
  </header>
  <body>
    =======
    <Header />
    <body> </body>
    >>>>>>> 00630a28cafd91bbe5a81d20346d06fa51d9958c
  </body>
</html>
