---
import Menu from "../components/Menu.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <header>
    <Header />
  </header>

  <body>
    <section class="box1">
      <h2>ABOUT US</h2>
      <p>
        KUNE Festival blends art, music, and nature, offering an immersive
        experience. The art promotes open discussions and a positive impact on
        our worldview. The music represents the young Nordic artistic community.
        KUNE values and celebrates the Otherness of the world, recognizing
        diversity and promoting inclusivity. The Otherness element invites us to
        appreciate unique perspectives and gain a more complex understanding of
        humanity.
      </p>
    </section>
    <section class="box2">
      <h2>THE LOCATION</h2>
      <p>
        The island was a 19th-century defense fort, now repurposed for cultural
        initiatives. It accommodates 2500 people, with 1000 in camping.
        Traveling to KUNE Festival by boat adds a unique element, creating an
        escape from everyday life. The festival's location on the island creates
        a close-knit community, promoting social interactions impossible in
        daily life. The island's transformation from aggression to community
        symbolizes hope. Hosting the festival on this historic site reminds us
        of the positive impact of art and culture, bringing people together and
        fostering connection.
      </p>
    </section>

    <h1>INTAGRAM COMMUNITY</h1>
  </body>

  <style>
    h2 {
      color: orange;
    }
    h1 {
      color: orange;
      text-align: center;
      font-size: 4rem;
      -webkit-text-stroke-color: transparent;
    }

    .box1 {
      margin-top: 15%;
      padding: 5%;
      text-align: left;
      margin-left: 20%;
      margin-right: 20%;
      border-radius: 60%;
    }

    .box2 {
      padding: 5%;
      text-align: left;
      margin-left: 20%;
      margin-right: 20%;
      border-radius: 60%;
    }
  </style>


</html>
