---
import Layouts from "../layouts/Layouts.astro";
import Menu from "../components/Menu.astro";
import "../styles/global.css";

import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>

  <Menu />

  <body>
    <img src="src/img/blue.webp" alt="" />

    <div class="gap">
      <h1>GET YOUR TICKET</h1>
      <div class="ticket">
        <img src="src/img/camping/ticket_full.webp" alt="" />
        <img src="src/img/camping/ticket_three.webp" alt="" />
        <img src="src/img/camping/ticket_one.webp" alt="" />
      </div>
      <br />
      <br />
      <br />
      <button class="button"> BUY TICKET HERE</button>

      <br />
      <br />
      <br />
      <br />

      <h1>CHOOSE YOUR CAMPING SPOT</h1>
      <div class="ticket">
        <img src="src/img/camping/camping_tent.webp" alt="" />
        <img src="src/img/camping/camping_boat.webp" alt="" />
        <img src="src/img/camping/camping_indoor.webp" alt="" />
      </div>

      <br />
      <br />
      <br />
      <button class="button"> BUY CAMPING HERE</button>
    </div>
  </body>

  <Footer />

  <style>
    .gap {
      padding: 30px;
      margin: 30px;
      display: block;
      align-content: center;
    }

    .ticket {
      display: flex;
      justify-content: space-between;
      gap: 100px;
    }

    h1,
    h2,
    h3 {
      margin-bottom: 20px;
      padding-bottom: 20px;
      margin-top: 40px;
      padding-top: 40px;
      color: #97dff4;
      font-family: "Montserrat";
    }

    .button {
      padding: 15px 25px;
      background-color: #97dff4;
      color: black;
      display: inline-block;
      margin-top: 20px;
      border-radius: 5px;
      font-family: "Montserrat";
    }

    @media (max-width: 700px) {
      .ticket {
        display: grid;
        grid-template-columns: 1fr;
        width: 60%;
      }
    }
  </style>
</html>
