---
const response = await fetch("https://kea-alt-del.dk/t7/api/products");
const data = await response.json;

import Layouts from "../layouts/Layouts.astro";
import Menu from "../components/Menu.astro";
import Header from "../components/Header.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>

  <Header />

  <body>
    <h1>KUNE</h1>
    <h1>FESTIVAL</h1>
    <h2>JULY 19-23</h2>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br
    /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br
    /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br
    /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br
    /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br
    /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br
    /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br
    /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br
    /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br
    /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br
    /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br
    /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br
    /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br
    /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br
    /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br
    /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <h1>HEEEEEEJ</h1>
  </body>

  <style>
    body {
      margin: 20px;
      padding: 10px;
      background-color: rgb(27, 27, 27);
    }

    #logo {
      width: 20%;
    }

    h1,
    h2 {
      color: white;
    }
  </style>
</html>
