---
const response = await fetch("https://kea-alt-del.dk/t7/api/products");
const data = await response.json;
import Footer from "../components/Footer.astro";
import Menu from "../components/Menu.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Menu />
    <main><p>hej</p></main>
    <Footer />
  </body>

  <style>
    #logo {
      width: 20%;
    }

    h1,
    h2 {
      color: white;
    }

    img {
      width: 90%;
      position: center;
    }
  </style>
</html>
