---
const url = "https://xnxgitagsngxibomplmc.supabase.co/rest/v1/KUNE?select=name,date,scene,image";
const options = {
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhueGdpdGFnc25neGlib21wbG1jIiwicm9sZSI6ImFub24iLCJpYXQiOjE2NzkwNTMyNjcsImV4cCI6MTk5NDYyOTI2N30.AJfZquFwCqKVXMLFNHaxoi_zanrT7MVwiRwzsAfVyFU",
  },
};
const response = await fetch(url, options);
const data = await response.json();

import Layouts from "../layouts/Layouts.astro";
import Lineupcard from "../components/Lineupcard.astro";
import Footer from "../components/Footer.astro";
import Menu from "../components/Menu.astro";
import "../styles/global.css";
import "../styles/lineup.css";
---

<div class="spacer"></div>
<img src="/img/pink.webp" alt="" />

<div class="datoknapper">
  <div>
    <p class="knap1">FRI 9/07</p>
  </div>
  <div>
    <p class="knap">SAT 10/07</p>
  </div>
  <div>
    <p class="knap">SUN 11/07</p>
  </div>
</div>

<Layouts title="Medlemsliste">
  <main>
    {data.map((person) => <Lineupcard image={`/img/lineupimg/${person.image}`} name={person.name} scene={person.scene} />)}
  </main>
</Layouts>

<style>
  main {
    display: grid;
    gap: 1em;
    padding: 1em;
  }
  @media screen and (min-width: 600px) {
    main {
      grid-template-columns: repeat(auto-fit, 350px);
      justify-content: center;
    }
  }
</style>
