---
import Menu from "./Menu.astro";
---

<header>
  <div class="logo">
    <a href="../pages/index.astro"> <img class="logo_img" src="src/img/kune_logo.png" alt="" /></a>
  </div>
  <div class="date">
    <h1>KUNE FESTIVAL JULY 19-23</h1>
  </div>
  <div class="main-menu">
    <Menu />
  </div>
</header>

<style>
  header {
    align-items: right;
    padding-right: 2rem;
  }

  a {
    display: block;
    padding-block: 20px;
  }

  .logo_img {
    width: 120px;
  }

  .logo {
    /* position: absolute;
    left: 20px; */
  }

  header {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  h1 {
    color: white;
  }
</style>
