---
import Menu from "./Menu.astro";
---

<header>
  <div class="logo">
    <a href="../pages/index.astro">
      <img class="logo_img" src="src/img/kune_logo.png" alt="" /></a
    >
  </div>
  <div class="date">
    <h1>JULY</h1>
    <h2>19-23</h2>
  </div>
  <div class="main-menu">
    <Menu />
  </div>
</header>

<style>
  a {
    display: block;
    padding-block: 20px;
  }

  .logo_img {
    width: 120px;
  }

  .logo {
    /* position: absolute;
    left: 20px; */
  }

  header {
    display: flex;
    gap: 1rem;
    align-items: center;
    position: fixed;
    justify-content: space-between;
  }
  h1 {
    color: white;
  }

  h2 {
    color: white;
  }
</style>
