---
const { name, scene, image } = Astro.props;
---

<article>
  <div>
    <img src={image} alt="profilbillede" />
    <h2>{name}</h2>
    <p>{scene}</p>
  </div>
</article>

<style>
  a {
    text-decoration: none;
    color: inherit;
  }
  h2 {
    font-family: "Montserrat";
  }
  p {
    font-family: "Montserrat";
  }
  article {
    border-radius: 1em;
    overflow: hidden;
    background-color: var(--brandbg);
    color: white;
    height: 410px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
  }

  div {
    padding-left: 2em;
    margin: 10px;
  }
</style>
